html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, tt, var, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	background-color: #0051ff;
}
.box{
	width: 60%;
	margin: 100px 20% 10px 20%;
	height: auto;
	background-color: #e0d20c;
	border-radius: 10px;
	text-align: horizontal;
}
.center-text{
	text-align: center;
    font-size: 40px;
}
.quotHead{
    font-size: 25px;
	padding-top: 2%;
	padding-bottom: 2%;
}
.quot{
	font-size: 35px;
}
.auth{
	text-align: right;
    font-size: 20px;
	margin-right: 5%;
	width: auto;
	float: right;
    margin-bottom: 5px;;
	font-style: italic;
}
.button{
	border:none;
	border-radius: 5px;
	outline:none;
	text-decoration: none;
	display: inline-block;
    background-color: #00cf00;
    color: black;
    height: 40px;
    width: 120px;
	padding: 10px 10px;
	cursor: pointer;
}
.button-tweet{
	outline:none;
	text-decoration: none;
	display: inline-block;
	color: black;
}
.right-side{
	float: right;
    margin: -50px 5% 10px 0px;
}
.left-side{
    margin: 39px 0 10px 5%;
}